<!-- uploadForm.handlebars -->

<form action="/upload-images" method="post" enctype="multipart/form-data">
  <div>
    <label for="imageFiles">Seleccionar imágenes:</label>
    <input type="file" name="imageFiles" id="imageFiles" multiple>
  </div>
  <div>
    <button type="submit">Cargar imágenes</button>
  </div>
</form>
